<h1>Welcome to the Tasklist!</h1>
<h2>ログイン</h2>
<%= form_with(url: sessions_path, scope: :session, local: true) do |f| %>
  <%= f.label :email, 'メールアドレス' %>
  <%= f.email_field :email %>
  </br>
  <%= f.label :password, 'パスワード' %>
  <%= f.password_field :password %>
  </br>
  <%= f.submit 'ログイン'%>
<% end %>

<p>初めての方はこちら：<%= link_to "ユーザ登録", new_user_path %></p>